<html>

	<title></title>
	<head>
	<link rel="stylesheet" href="../assets/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
	<h1>My Todo List</h1>
		<div id="todo-table">
			<form>
				<input type="text" name="item" id="item">
				<button type="submit">Add item</button>
			</form>
			
			<ol>
				<%for(i=0;i<todo.length;i++){
                %>
			<li>
                
                <%=todo[i].item %>
               
            </li>
			 <%
                }
              %>
                
			</ol>
		</div>
	</body>

</html>